*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
}

body, html{
    margin:0;
    padding: 0;
    scroll-behavior:smooth;
    
}

body{
    background-color:#e6eaeb;
}

main {
    margin:0;
    padding:0;
}

header{
    display:flex;
    justify-content:center;
    align-items:center;
    height:150px;
    width:100%;
    background-color:#1d6678;
    padding: 20px 5%;
    font-family:"Andale Mono", monospace;
    font-style: italic;
    color:white;
    background-image:url("../images/banner.jpg");

}
header h1{
    font-size: 35px;
    line-height: 80px;
    padding:0 100px;
    font-weight: bold;
}

.nav-bar {
    display: inline-block;
    flex-direction:row;
    flex-wrap:wrap;
    float: right;
    

}

.nav-bar a {
    color:white;
    text-decoration:none;
    padding:20px;
    font-size:25px;
    transition: all 0.3s ease 0s;
}
.nav-bar a:hover {
    color:#fce656;
}

.card {
    height:300px;
    width:80%;
    display:flex;
    justify-content: center;
    align-items:center;
    justify-content: space-between;
    object-fit:fill;
   
}

.card p{
    padding:0px 5%;
    font-family: "Andale Mono", monospace;
    font-style: italic;
    font-size:20px;
    
}

.card img{
    object-fit:fill;
    max-height:300px;
}

#aboutcard{
    height:200px;
    width: 200px;
    margin:0;
    padding:0px 50px;
    border-right:5px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
}
#aboutcard h2{
    font-family:"Andale Mono", monospace;
    font-style:italic;
    font-size:30px;
}

header img{
    max-width: 100px;
    border-radius:50%;

}


#workcard{
    height:200px;
    width: 200px;
    margin:0;
    padding:0px 50px;
    border-right:5px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
}

    

#workcard h2{
    
    font-family:"Andale Mono", monospace;
    font-style:italic;
    font-size:30px;
}













#contactcard{
    height:200px;
    width: 200px;
    margin:0;
    padding:0px 50px;
    border-right:5px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
}

#contactcard h2{
    font-family:"Andale Mono", monospace;
    font-style:italic;
    font-size:30px;
}

#resumecard{
    height:200px;
    width: 200px;
    margin:0;
    padding:0px 50px;
    border-right:5px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
}

#resumecard h2{
    font-family:"Andale Mono", monospace;
    font-style:italic;
    font-size:30px;
}

footer{
    height: 80px;
    width:100%;
    background-color:#1d6678;
    font-family:"Andale Mono", monospace;
    font-style:italic;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;

}




