header{
    height:100px;
    width:100%;
    background-color:#1d6678;
    margin: left -60;
    margin: right -60;
    padding: 0;
    flex-wrap: wrap;
    font-family:'Courier New', Courier, monospace;
}
body{
    background-color:#e6eaeb;
}

.name{
    text-align:left;
    margin:0px;
    padding:2% 2% 0% 2%;
    width:600px;
    display:flex;
    flex-wrap: wrap;
}

.nav-bar{
    text-align: end;
    
}

.nav-bar ul{
    list-style:none;
    position:relative;
    bottom:40px;
    color:white;
     
}

.nav-bar li{
    display:inline;
    padding:3%;
    margin:auto;
    font-size:20px;
}

.nav-bar ul li:hover{
    color:azure;
    text-decoration:underline;
    
}

.card {
    display:inline-block;
    height:400px;
    width:90%;
    border:1px solid black;
    justify-content:space-around;
    margin:3%;

}

.about-card {
    font-family:'Courier New', Courier, monospace;
}

.work-card{
    font-family:'Courier New', Courier, monospace;
}

.contact-card{
    font-family:'Courier New', Courier, monospace;
}

.resume-card{
    font-family:'Courier New', Courier, monospace;
}